# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg

# PyCharm
.idea/
*.iml
*.iws

# Virtual Environment
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Folders
/archive/
/lir_solver/target/
/lir_solver/.venv/
/IGE/
